body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}

.flayout-main * {
  box-sizing: border-box;
}

.flayout-main {
  display: flex;
  height: 100%;
  position: relative;
}

.flayout-pane {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
}

.flayout-pane__left {
  background-color: #f0f0f0;
}

.flayout-pane__right {
  background-color: #e0e0e0;
}

.flayout-drag {
  width: 5px;
  background-color: #ccc;
  cursor: col-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}